*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#principal{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/Background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
   
}
#logo{
    width: 120px;
    height: 100px;
}
#nav-bar{
    width: 90%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
#nav-bar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-decoration: uppercase;
    font-weight: bolder;
}
#nav-bar ul li ::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #324140;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#nav-bar ul li :hover:after{
    width: 100%;
}
#content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}
#conten h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 80px;
}
.button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

/* Estilo de hover */
.button:hover {
    background-color: #3a454d;
    border: none;
}