* {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}


.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: static;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 10px;
    position: relative; /* Añadido posicionamiento relativo */

}

.navbar ul {
    list-style: none;
    display: flex; 
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
}




.about{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 800px;
    width: 100%;
    background-color: #333;
    
    

}

.about img{
    height: auto;
    width: 420px;
}
.texto{
    width: 550px; 
    margin-left: 20px;   
}
#main{
    padding-top: 50px;
    padding-left: 300px;
    width: 1130px;
    max-width: 95%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.texto h1{
    color: white;
    font-size: 80px;
    margin-bottom: 20px;
}
.texto h5{
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    letter-spacing: 2px;

}
span{
    color: rgb(158, 59, 54);
}
.texto p{
    color: #fcfc;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;


}
.footer {
    width: 100%;
    height: 150px;
    background-color: #333333;
    color: #fff;
    padding: 10px 0;
    bottom: 0; 
    left: 0; 
     
    position: fixed;
   

}